<div style="margin-top:50px;"></div>
<footer class="col-md-12 footer">
  <span>
      &copy; 2017-18 Steemauto by <a target="_blank" href="https://steemit.com/@mahdiyari">@mahdiyari</a>
  </span>
  <span style="float:right;">
    <a target="_blank" href="https://github.com/mahdiyari/steemauto-new">GitHub</a> &middot;
    <a target="_blank" href="https://discord.gg/qhKDfEp">Discord</a> &middot;
    <a href="/faq">FAQ</a> &middot;
    <a href="/support">Support</a> &middot;
    <a href="/about">About</a>
  </span>
</footer>
