<div class="container">
  <!-- Announcement panel -->
  <app-announcement></app-announcement>

  <div class="col col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="panel-icon glyphicon glyphicon-cog"></i>
        <h3 class="panel-title">Manage/Create trail</h3>
      </div>
      <div class="panel-body">
        By creating a curation trail, other users will be able to follow your
        voting pattern. <br />
        Curation trail helps communities to sum up voting power of many accounts
        to support and curate various type of posts. <br />
        <br />
        <button class="btn btn-default">Manage/Create your own trail</button>
      </div>
    </div>
  </div>

  <!-- Promoted post panel -->
  <app-promoted-post></app-promoted-post>
</div>

<!-- List of trails followed by user -->
<app-following-trails></app-following-trails>

<app-top-trails></app-top-trails>
